#NixOS Build Artifacts

/result
/default.nix
*.drv

#Private User Configuration (Ignores all files in the Users/ directory)

/Users/**/*

#Private Host Configuration (The single entry point for this host's config)

/Host/Host.nix
/Host/hardware-configuration.nix
commit.sh
/commit.sh
./commit.sh
